<form action="register" method="POST">
	Email: <input type="text" name="email"><br/>
	Password: <input type="password" name="password"><br/>
	Phone Number: <input type = "text" name = "phone" placeholder = "Enter 10 digit number"><br/>
	<input type="submit" value="Register">
</form>