<html>
<head>
<style>
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

div.gallery2 {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery2:hover {
    border: 1px solid #777;
}

div.gallery2 img {
    width: 100%;
    height: auto;
}

div.desc2 {
    padding: 15px;
    text-align: center;
}

</style>
</head>
<body>

<div class="gallery">
  <a href="#">
    <img src="https://www.acmemarkets.com/wp-content/uploads/2012/07/KitKat-email1-300x200.jpg" alt="Cinque Terre" width="300" height="200">
  </a>
  <div class="desc">$39.99<br><a class="btn btn-primary" href="#" role="button">Add to Cart &raquo; </a> </div>
</div>

<div class="gallery">
  <a href="#">
    <img src="https://theartmad.com/wp-content/uploads/2015/08/Beautiful-Chocolate-Birthday-Cake-With-Candles-1-300x200.jpg" alt="Cinque Terre" width="300" height="200">
  </a>
  <div class="desc">$39.99<br><a class="btn btn-primary" href="#" role="button">Add to Cart &raquo; </a> </div>
</div>

<div class="gallery">
  <a href="#">
    <img src="https://oceanislebeach.com/wp-content/uploads/2018/03/Birthday-Cake-for-2013-Iowa-Employer-Benefits-Study-300x200-300x200.jpg" alt="Cinque Terre" width="300" height="200">
  </a>
  <div class="desc">$39.99<br><a class="btn btn-primary" href="#" role="button">Add to Cart &raquo; </a> </div>
</div>

<div class="gallery">
  <a href="#">
    <img src="https://www.jaroschbakery.com/wp-content/uploads/sites/2567/2016/06/HalfHalfCake.jpg" alt="Cinque Terre" width="300" height="200">
  </a>
  <div class="desc">$39.99<br><a class="btn btn-primary" href="#" role="button">Add to Cart &raquo; </a> </div>
</div>


<div class="gallery2">
  <a href="#">
    <img src="https://i1.wp.com/loveinmyoven.com/wp-content/uploads/2017/06/Healthy-Smash-Cake.jpg?fit=300%2C200" alt="Cinque Terre" width="300" height="200">
  </a>
  <div class="desc">$39.99<br><a class="btn btn-primary" href="#" role="button">Add to Cart &raquo; </a> </div>
</div>

<div class="gallery2">
  <a href="#">
    <img src="http://www.visitrichmondca.com/wp-content/uploads/Sheng-Kee-Bakery-300x200-1-300x200.jpg" alt="Cinque Terre" width="300" height="200">
  </a>
  <div class="desc">$39.99<br><a class="btn btn-primary" href="#" role="button">Add to Cart &raquo; </a> </div>
</div>

<div class="gallery2">
  <a href="#">
    <img src="https://www.sweetalis.com/wp-content/shopp-images/cache_300_200_2_0_80_-1_Carrot%20Cake1%20600x600.jpg" alt="Cinque Terre" width="300" height="200">
  </a>
  <div class="desc">$39.99<br><a class="btn btn-primary" href="#" role="button">Add to Cart &raquo; </a> </div>
</div>

<div class="gallery2">
  <a href="#">
    <img src="https://i2.wp.com/essentialbaking.com/wp-content/uploads/2013/12/Tiramisu2-300x200.jpg?resize=300%2C200" alt="Cinque Terre" width="300" height="200">
  </a>
  <div class="desc">$39.99<br><a class="btn btn-primary" href="#" role="button">Add to Cart &raquo; </a> </div>
</div>

<div class="gallery2">
  <a href="#">
    <img src="https://i0.wp.com/essentialbaking.com/wp-content/uploads/2013/12/RaspberryDecadence-2.jpg?w=1500" alt="Cinque Terre" width="300" height="200">
  </a>
  <div class="desc">$39.99<br><a class="btn btn-primary" href="#" role="button">Add to Cart &raquo; </a> </div>
</div>

<div class="gallery2">
  <a href="#">
    <img src="https://i1.wp.com/essentialbaking.com/wp-content/uploads/2013/12/NewYork-Cheesecake-300x200.jpg?resize=300%2C200" alt="Cinque Terre" width="300" height="200">
  </a>
  <div class="desc">$39.99<br><a class="btn btn-primary" href="#" role="button">Add to Cart &raquo; </a> </div>
</div>


<br>

</body>
</html>