
<html>
<head>
<style>
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

div.gallery2 {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery2:hover {
    border: 1px solid #777;
}

div.gallery2 img {
    width: 100%;
    height: auto;
}

div.desc2 {
    padding: 15px;
    text-align: center;
}

</style>
</head>
<body>

<div class="gallery">
  <a href="#">
    <img src="https://www.acmemarkets.com/wp-content/uploads/2012/07/KitKat-email1-300x200.jpg" alt="Cinque Terre" width="300" height="200">
  </a>
  <div class="desc">$19.99<br>Give me your money!</div>
</div>

<div class="gallery">
  <a href="#">
    <img src="images/cake1.jpg" alt="Cinque Terre" width="300" height="200">
  </a>
  <div class="desc">$19.99<br>Give me your money!</div>
</div>

<div class="gallery">
  <a href="#">
    <img src="images/cake1.jpg" alt="Cinque Terre" width="300" height="200">
  </a>
  <div class="desc">$19.99<br>Give me your money!</div>
</div>

<div class="gallery">
  <a href="#">
    <img src="images/cake1.jpg" alt="Cinque Terre" width="300" height="200">
  </a>
  <div class="desc">$19.99<br>Give me your money!</div>
</div>


<div class="gallery2">
  <a href="#">
    <img src="images/cake1.jpg" alt="Cinque Terre" width="300" height="200">
  </a>
  <div class="desc2">$19.99<br>Give me your money!</div>
</div>

<div class="gallery2">
  <a href="#">
    <img src="images/cake1.jpg" alt="Cinque Terre" width="300" height="200">
  </a>
  <div class="desc2">$19.99<br>Give me your money!</div>
</div>

<div class="gallery2">
  <a href="#">
    <img src="images/cake1.jpg" alt="Cinque Terre" width="300" height="200">
  </a>
  <div class="desc2">$19.99<br>Give me your money!</div>
</div>

<div class="gallery2">
  <a href="#">
    <img src="images/cake1.jpg" alt="Cinque Terre" width="300" height="200">
  </a>
  <div class="desc2">$19.99<br>Give me your money!</div>
</div>


<br>

</body>
</html>