<footer class="site-footer" id="footer" itemtype="http://schema.org/WPFooter" itemscope="itemscope">

        
        <div class="site-footer-inner container clr" id="footer-inner">

            
<div class="wpex-row clr gap-30" id="footer-widgets">

		<div class="footer-box span_1_of_4 col col-1">
		<div class="footer-widget widget widget_wpex_info_widget clr" id="wpex_info_widget-2"><div class="widget-title">Lark Cake Shop: Silverlake</div><div class="wpex-info-widget wpex-clr"><div class="wpex-info-widget-address wpex-clr"><span class="fa fa-map-marker"></span><p>3337 W. Sunset Blvd<br>
Los Angeles, CA 90026</p>
</div><div class="wpex-info-widget-phone wpex-clr"><span class="fa fa-phone"></span><a href="tel:323-667-2968">323-667-2968</a></div><div class="wpex-info-widget-email wpex-clr"><span class="fa fa-envelope"></span><a title="Email Silverlake" href="mailto:info@larkcakeshop.com">Email Silverlake</a></div></div></div>	</div><!-- .footer-one-box -->

			<div class="footer-box span_1_of_4 col col-2">
			<div class="footer-widget widget widget_wpex_info_widget clr" id="wpex_info_widget-4"><div class="widget-title">Lark Cake Shop: Pasadena</div><div class="wpex-info-widget wpex-clr"><div class="wpex-info-widget-address wpex-clr"><span class="fa fa-map-marker"></span><p>1355 North  Hill Ave, Pasadena, CA 91104</p>
</div><div class="wpex-info-widget-phone wpex-clr"><span class="fa fa-phone"></span><a href="tel:626-798-1031">626-798-1031</a></div><div class="wpex-info-widget-email wpex-clr"><span class="fa fa-envelope"></span><a title="Email Pasadena" href="mailto:pasadenainfo@larkcakeshop.com">Email Pasadena</a></div></div></div>		</div><!-- .footer-one-box -->
		
			<div class="footer-box span_1_of_4 col col-3 ">
			<div class="widget_text footer-widget widget widget_custom_html clr" id="custom_html-2"><div class="textwidget custom-html-widget"><p class="widget-title">Find us on a map
</p>
<div style="height:205px; width:100%; display:inline-block; overflow:hidden;">
<iframe height="205" class="custom-google-map" src="https://www.google.com/maps/d/embed?mid=1WHe52WqgtEZnQugOW7GEkdPkaCbx_dFh" style="position:relative; top:-50px; border:none;"></iframe>
</div></div></div>		</div><!-- .footer-one-box -->
	
			<div class="footer-box span_1_of_4 col col-4">
			<div class="footer-widget widget widget_wpex_insagram_slider clr" id="wpex_insagram_slider-2"><div class="widget-title">@larkcakeshop</div><div class="wpex-instagram-grid-widget wpex-clr"><ul class="wpex-clr wpex-row gap-10"><li class="span_1_of_3 clr count-1 col"><a title="It's Thursday and this cake with chocolate drips will carry you into the weekend, you're almost there!⠀&#10;•⠀&#10;•⠀&#10;⠀&#10;•⠀&#10;•⠀&#10;•⠀&#10;•⠀&#10;#lafoodie #infatuationla #eeeeeats #eaterla #lafoodjunkie #yelpla #yelpelite #foodporn #feedfeed #foodphotography #goodeats #vanilla #yummy #dessertporn #vscofood #cake #flashesofdelight #bevisuallyinspired #pursuepretty #nothingisordinary #thehappynow #bakery #makemoments #postitforaesthetic #postthepeople #darlingweekend #silverlake #pasadena #losangeles #larkcakeshop⠀" href="https://instagram.com/p/BqxvkGeBODh/" target='"_blank"'><img alt="It's Thursday and this cake with chocolate drips will carry you into the weekend, you're almost there!⠀&#10;•⠀&#10;•⠀&#10;⠀&#10;•⠀&#10;•⠀&#10;•⠀&#10;•⠀&#10;#lafoodie #infatuationla #eeeeeats #eaterla #lafoodjunkie #yelpla #yelpelite #foodporn #feedfeed #foodphotography #goodeats #vanilla #yummy #dessertporn #vscofood #cake #flashesofdelight #bevisuallyinspired #pursuepretty #nothingisordinary #thehappynow #bakery #makemoments #postitforaesthetic #postthepeople #darlingweekend #silverlake #pasadena #losangeles #larkcakeshop⠀" src="//scontent-iad3-1.cdninstagram.com/vp/5b2e0f2db00d67de712ebcba8ade937c/5C9E598C/t51.2885-15/e35/s150x150/45304429_2028784247167758_1217172266375698449_n.jpg"></a></li><li class="span_1_of_3 clr count-2 col"><a title="Who will make a break for it with both the cupcakes first?&#10;•&#10;• •&#10;•&#10;•&#10;•&#10;#lafoodie #infatuationla #eeeeeats #eaterla #lafoodjunkie #yelpla #yelpelite #foodporn #feedfeed #foodphotography #goodeats #vanilla #yummy #dessertporn #vscofood #cake #flashesofdelight #bevisuallyinspired #pursuepretty #nothingisordinary #thehappynow #bakery #makemoments #postitforaesthetic #postthepeople #darlingweekend #silverlake #pasadena #losangeles #larkcakeshop" href="https://instagram.com/p/BqvJURjAPxO/" target='"_blank"'><img alt="Who will make a break for it with both the cupcakes first?&#10;•&#10;• •&#10;•&#10;•&#10;•&#10;#lafoodie #infatuationla #eeeeeats #eaterla #lafoodjunkie #yelpla #yelpelite #foodporn #feedfeed #foodphotography #goodeats #vanilla #yummy #dessertporn #vscofood #cake #flashesofdelight #bevisuallyinspired #pursuepretty #nothingisordinary #thehappynow #bakery #makemoments #postitforaesthetic #postthepeople #darlingweekend #silverlake #pasadena #losangeles #larkcakeshop" src="//scontent-iad3-1.cdninstagram.com/vp/611f48210a9c50c2f4ea71aa601ef7b4/5C901652/t51.2885-15/e15/c0.23.1080.1080/s150x150/45402188_191007341806875_1542976385790176824_n.jpg"></a></li><li class="span_1_of_3 clr count-3 col"><a title="Long live the kween! We love a fun birthday cake. Swipe right to see more! 🌈 •⠀&#10;•⠀&#10;⠀&#10;•⠀&#10;•⠀&#10;•⠀&#10;•⠀&#10;#lafoodie #infatuationla #eeeeeats #eaterla #lafoodjunkie #yelpla #yelpelite #foodporn #feedfeed #foodphotography #goodeats #vanilla #yummy #dessertporn #vscofood #cake #flashesofdelight #bevisuallyinspired #pursuepretty #nothingisordinary #thehappynow #bakery #makemoments #postitforaesthetic #postthepeople #darlingweekend #silverlake #pasadena #losangeles #larkcakeshop⠀" href="https://instagram.com/p/BqslLN2hyna/" target='"_blank"'><img alt="Long live the kween! We love a fun birthday cake. Swipe right to see more! 🌈 •⠀&#10;•⠀&#10;⠀&#10;•⠀&#10;•⠀&#10;•⠀&#10;•⠀&#10;#lafoodie #infatuationla #eeeeeats #eaterla #lafoodjunkie #yelpla #yelpelite #foodporn #feedfeed #foodphotography #goodeats #vanilla #yummy #dessertporn #vscofood #cake #flashesofdelight #bevisuallyinspired #pursuepretty #nothingisordinary #thehappynow #bakery #makemoments #postitforaesthetic #postthepeople #darlingweekend #silverlake #pasadena #losangeles #larkcakeshop⠀" src="//scontent-iad3-1.cdninstagram.com/vp/136b47d5b90bfcb93484c4fce2d315ac/5C94F659/t51.2885-15/e35/s150x150/46367531_124573408545495_4331918435849664240_n.jpg"></a></li><li class="span_1_of_3 clr count-1 col"><a title="Something so pretty deserves its own spotlight, so take it little cake, you've earned it!&#10;•&#10;• •&#10;•&#10;•&#10;•&#10;#lafoodie #infatuationla #eeeeeats #eaterla #lafoodjunkie #yelpla #yelpelite #foodporn #feedfeed #foodphotography #goodeats #vanilla #yummy #dessertporn #vscofood #cake #flashesofdelight #bevisuallyinspired #pursuepretty #nothingisordinary #thehappynow #bakery #makemoments #postitforaesthetic #postthepeople #darlingweekend #silverlake #pasadena #losangeles #larkcakeshop" href="https://instagram.com/p/Bqp_tv9HdQq/" target='"_blank"'><img alt="Something so pretty deserves its own spotlight, so take it little cake, you've earned it!&#10;•&#10;• •&#10;•&#10;•&#10;•&#10;#lafoodie #infatuationla #eeeeeats #eaterla #lafoodjunkie #yelpla #yelpelite #foodporn #feedfeed #foodphotography #goodeats #vanilla #yummy #dessertporn #vscofood #cake #flashesofdelight #bevisuallyinspired #pursuepretty #nothingisordinary #thehappynow #bakery #makemoments #postitforaesthetic #postthepeople #darlingweekend #silverlake #pasadena #losangeles #larkcakeshop" src="//scontent-iad3-1.cdninstagram.com/vp/42c5ddc59409966d9bed8c64e2be90be/5C8CD550/t51.2885-15/e15/c76.0.928.928/s150x150/44878410_338279810284466_7470191230278605461_n.jpg"></a></li><li class="span_1_of_3 clr count-2 col"><a title="I will only take bribes if they are in the form of gorgeous cakes. •⠀&#10;•⠀&#10;⠀&#10;•⠀&#10;•⠀&#10;•⠀&#10;•⠀&#10;#lafoodie #infatuationla #eeeeeats #eaterla #lafoodjunkie #yelpla #yelpelite #foodporn #feedfeed #foodphotography #goodeats #vanilla #yummy #dessertporn #vscofood #cake #flashesofdelight #bevisuallyinspired #pursuepretty #nothingisordinary #thehappynow #bakery #makemoments #postitforaesthetic #postthepeople #darlingweekend #silverlake #pasadena #losangeles #larkcakeshop⠀" href="https://instagram.com/p/Bqnpzzyhblk/" target='"_blank"'><img alt="I will only take bribes if they are in the form of gorgeous cakes. •⠀&#10;•⠀&#10;⠀&#10;•⠀&#10;•⠀&#10;•⠀&#10;•⠀&#10;#lafoodie #infatuationla #eeeeeats #eaterla #lafoodjunkie #yelpla #yelpelite #foodporn #feedfeed #foodphotography #goodeats #vanilla #yummy #dessertporn #vscofood #cake #flashesofdelight #bevisuallyinspired #pursuepretty #nothingisordinary #thehappynow #bakery #makemoments #postitforaesthetic #postthepeople #darlingweekend #silverlake #pasadena #losangeles #larkcakeshop⠀" src="//scontent-iad3-1.cdninstagram.com/vp/cdc7b4216e364d4788fa861d3acf6b6d/5CA8FAD6/t51.2885-15/e35/s150x150/44831413_327720574731044_6875519121219847331_n.jpg"></a></li><li class="span_1_of_3 clr count-3 col"><a title="Cookies are basically a form of currency now...&#10;•&#10;• •&#10;•&#10;•&#10;•&#10;#lafoodie #infatuationla #eeeeeats #eaterla #lafoodjunkie #yelpla #yelpelite #foodporn #feedfeed #foodphotography #goodeats #vanilla #yummy #dessertporn #vscofood #cake #flashesofdelight #bevisuallyinspired #pursuepretty #nothingisordinary #thehappynow #bakery #makemoments #postitforaesthetic #postthepeople #darlingweekend #silverlake #pasadena #losangeles #larkcakeshop" href="https://instagram.com/p/Bqk2LdTA-h9/" target='"_blank"'><img alt="Cookies are basically a form of currency now...&#10;•&#10;• •&#10;•&#10;•&#10;•&#10;#lafoodie #infatuationla #eeeeeats #eaterla #lafoodjunkie #yelpla #yelpelite #foodporn #feedfeed #foodphotography #goodeats #vanilla #yummy #dessertporn #vscofood #cake #flashesofdelight #bevisuallyinspired #pursuepretty #nothingisordinary #thehappynow #bakery #makemoments #postitforaesthetic #postthepeople #darlingweekend #silverlake #pasadena #losangeles #larkcakeshop" src="//scontent-iad3-1.cdninstagram.com/vp/75823ae4d1fe173936afe67c3b03eeb0/5C9345D6/t51.2885-15/e15/s150x150/44498878_128147664845046_4953544348193600511_n.jpg"></a></li></ul></div></div>		</div><!-- .footer-box -->
	
	
</div><!-- #footer-widgets -->
        </div><!-- #footer-widgets -->

        
    </footer><!-- #footer -->




<div class="clr" id="footer-bottom">
	<div class="container clr" id="footer-bottom-inner">
			</div><!-- #footer-bottom-inner -->
</div><!-- #footer-bottom -->


	</div><!-- #wrap -->

	
</div><!-- #outer-wrap -->


<div class="pum pum-overlay pum-theme-545 pum-theme-lightbox popmake-overlay click_open" id="pum-557" role="dialog" aria-hidden="true" data-popmake='{"id":557,"slug":"consultation-form","theme_id":545,"cookies":[],"triggers":[{"type":"click_open","settings":{"cookie_name":"","extra_selectors":""}}],"mobile_disabled":null,"tablet_disabled":null,"meta":{"display":{"stackable":false,"overlay_disabled":false,"scrollable_content":false,"disable_reposition":false,"size":"small","responsive_min_width":"0%","responsive_min_width_unit":false,"responsive_max_width":"50%","responsive_max_width_unit":false,"custom_width":"640px","custom_width_unit":false,"custom_height":"380px","custom_height_unit":false,"custom_height_auto":false,"location":"center top","position_from_trigger":false,"position_top":"100","position_left":"0","position_bottom":"0","position_right":"0","position_fixed":false,"animation_type":"fade","animation_speed":"350","animation_origin":"center top","overlay_zindex":false,"zindex":"1999999999"},"close":{"text":"","button_delay":"0","overlay_click":false,"esc_press":false,"f4_press":false},"click_open":[]}}'>

	<div class="pum-container popmake theme-545 pum-responsive pum-responsive-small responsive size-small" id="popmake-557">

				

				<div class="pum-content popmake-content">
			<h1>Ready for a consultation?</h1>
<div>Consultations and tastings are free, and are scheduled on Saturdays at 9am, 10am, and 11am. Fill out the form below and we will get back to you in 24 hours!</div>
<p> <br></p>
<div><div class="wpcf7" id="wpcf7-f469-o3" role="form" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
<form class="wpcf7-form" action="/cakes/#wpcf7-f469-o3" method="post" novalidate="novalidate"><input name="pum_form_popup_id" type="hidden" value="557">
<div style="display: none;">
<input name="_wpcf7" type="hidden" value="469">
<input name="_wpcf7_version" type="hidden" value="5.0.3">
<input name="_wpcf7_locale" type="hidden" value="en_US">
<input name="_wpcf7_unit_tag" type="hidden" value="wpcf7-f469-o3">
<input name="_wpcf7_container_post" type="hidden" value="0">
</div>
<p><label> First Name (required)<br>
    <span class="wpcf7-form-control-wrap first-name"><input name="first-name" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-invalid="false" aria-required="true" type="text" size="40" value=""></span> </label></p>
<p><label> Last Name (required)<br>
    <span class="wpcf7-form-control-wrap last-name"><input name="last-name" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-invalid="false" aria-required="true" type="text" size="40" value=""></span> </label></p>
<p><label> First Name 2<br>
    <span class="wpcf7-form-control-wrap first-name-2"><input name="first-name-2" class="wpcf7-form-control wpcf7-text" aria-invalid="false" type="text" size="40" value=""></span> </label></p>
<p><label> Last Name 2<br>
    <span class="wpcf7-form-control-wrap last-name-2"><input name="last-name-2" class="wpcf7-form-control wpcf7-text" aria-invalid="false" type="text" size="40" value=""></span> </label></p>
<p><label> Phone (required)<br>
    <span class="wpcf7-form-control-wrap phone"><input name="phone" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-invalid="false" aria-required="true" type="text" size="40" value=""></span> </label></p>
<p><span class="wpcf7-form-control-wrap website-wrap" id="hp5c0079477fac0" style="display:none !important; visibility:hidden !important;"><label class="hp-message">Please leave this field empty.</label><input name="website" tabindex="0" class="wpcf7-form-control wpcf7-text" type="text" size="40" value="" autocomplete="nope"></span></p>
<p><label> Your Email (required)<br>
    <span class="wpcf7-form-control-wrap your-email"><input name="your-email" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-invalid="false" aria-required="true" type="email" size="40" value=""></span> </label></p>
<p><label> Date of Event<br>
   <span class="wpcf7-form-control-wrap date-475"><input name="date-475" class="wpcf7-form-control wpcf7-date wpcf7-validates-as-date" aria-invalid="false" type="date" value=""></span> </label></p>
<p><label> Number of Guests<br>
<span class="wpcf7-form-control-wrap number-92"><input name="number-92" class="wpcf7-form-control wpcf7-number wpcf7-validates-as-number" aria-invalid="false" type="number" value=""></span> </label></p>
<p><label> Wedding Location<br>
<span class="wpcf7-form-control-wrap wedding-location"><input name="wedding-location" class="wpcf7-form-control wpcf7-text" aria-invalid="false" type="text" size="40" value=""></span> </label></p>
<p>Would you like a delivery quote?<br>
<span class="wpcf7-form-control-wrap delivery-quote"><span class="wpcf7-form-control wpcf7-checkbox wpcf7-exclusive-checkbox"><span class="wpcf7-list-item first"><input name="delivery-quote" type="checkbox" value="Yes"><span class="wpcf7-list-item-label">Yes</span></span><span class="wpcf7-list-item last"><input name="delivery-quote" type="checkbox" value="No"><span class="wpcf7-list-item-label">No</span></span></span></span></p>
<p><label> Your Message<br>
    <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" rows="10" cols="40"></textarea></span> </label></p>
<div class="wpcf7-form-control-wrap"><div class="wpcf7-form-control g-recaptcha wpcf7-recaptcha" data-sitekey="6LcaL1kUAAAAAK5Gr1DAC7aUiiOZELvBRHXhpfCq"><div style="width: 304px; height: 78px;"><div><iframe name="a-f8k32puhmj6q" width="304" height="78" role="presentation" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LcaL1kUAAAAAK5Gr1DAC7aUiiOZELvBRHXhpfCq&amp;co=aHR0cDovL2xhcmtjYWtlc2hvcC5jb206ODA.&amp;hl=en&amp;v=v1542004393985&amp;size=normal&amp;cb=sr4bq6646xta" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-popups-to-escape-sandbox"></iframe></div><textarea name="g-recaptcha-response" class="g-recaptcha-response" id="g-recaptcha-response" style="margin: 10px 25px; padding: 0px; border: 1px solid rgb(193, 193, 193); border-image: none; width: 250px; height: 40px; display: none;"></textarea></div></div>
<noscript>
	&lt;div style="width: 302px; height: 422px;"&gt;
		&lt;div style="width: 302px; height: 422px; position: relative;"&gt;
			&lt;div style="width: 302px; height: 422px; position: absolute;"&gt;
				&lt;iframe src="https://www.google.com/recaptcha/api/fallback?k=6LcaL1kUAAAAAK5Gr1DAC7aUiiOZELvBRHXhpfCq" frameborder="0" scrolling="no" style="width: 302px; height:422px; border-style: none;"&gt;
				&lt;/iframe&gt;
			&lt;/div&gt;
			&lt;div style="width: 300px; height: 60px; border-style: none; bottom: 12px; left: 25px; margin: 0px; padding: 0px; right: 25px; background: #f9f9f9; border: 1px solid #c1c1c1; border-radius: 3px;"&gt;
				&lt;textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;"&gt;
				&lt;/textarea&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
</noscript>
</div>
<p><input class="wpcf7-form-control wpcf7-submit" type="submit" value="Send"><span class="fa fa-refresh fa-spin wpex-wpcf7-loader"></span></p>
<input class="wpcf7-pum" type="hidden" value='{"closepopup":true,"closedelay":0,"openpopup":false,"openpopup_id":0}'><div class="wpcf7-response-output wpcf7-display-none"></div></form></div></div>
		</div>


				

				            <button class="pum-close popmake-close" aria-label="Close" type="button">
			×            </button>
		
	</div>

</div>
<div class="pum pum-overlay pum-theme-545 pum-theme-lightbox popmake-overlay click_open" id="pum-550" role="dialog" aria-hidden="true" aria-labelledby="pum_popup_title_550" data-popmake='{"id":550,"slug":"wedding-consultation-form","theme_id":545,"cookies":[],"triggers":[{"type":"click_open","settings":{"cookie_name":"","extra_selectors":""}}],"mobile_disabled":null,"tablet_disabled":null,"meta":{"display":{"stackable":false,"overlay_disabled":false,"scrollable_content":false,"disable_reposition":false,"size":"normal","responsive_min_width":"0%","responsive_min_width_unit":false,"responsive_max_width":"100%","responsive_max_width_unit":false,"custom_width":"640px","custom_width_unit":false,"custom_height":"380px","custom_height_unit":false,"custom_height_auto":false,"location":"center top","position_from_trigger":false,"position_top":"100","position_left":"0","position_bottom":"0","position_right":"0","position_fixed":false,"animation_type":"fade","animation_speed":"350","animation_origin":"center top","overlay_zindex":false,"zindex":"1999999999"},"close":{"text":"","button_delay":"0","overlay_click":false,"esc_press":"1","f4_press":false},"click_open":[]}}'>

	<div class="pum-container popmake theme-545 pum-responsive pum-responsive-normal responsive size-normal" id="popmake-550">

				

				            <div class="pum-title popmake-title" id="pum_popup_title_550">
				Wedding Consultation Form			</div>
		

		

				<div class="pum-content popmake-content">
			<p></p><div class="vc_row wpb_row vc_row-fluid">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h1>Ready for a consultation?</h1>
<p>Consultations and tastings are free, and are scheduled on Saturdays at 9am, 10am, and 11am. Fill out the form below and we will get back to you in 24 hours!</p>

		</div>
	</div>
<div class="vcex-spacing" style="height:30px"></div><div class="vcex-module vcex-form-shortcode wpex-form wpex-form-modern"><div class="wpcf7" id="wpcf7-f469-o4" role="form" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
<form class="wpcf7-form" action="/cakes/#wpcf7-f469-o4" method="post" novalidate="novalidate"><input name="pum_form_popup_id" type="hidden" value="550">
<div style="display: none;">
<input name="_wpcf7" type="hidden" value="469">
<input name="_wpcf7_version" type="hidden" value="5.0.3">
<input name="_wpcf7_locale" type="hidden" value="en_US">
<input name="_wpcf7_unit_tag" type="hidden" value="wpcf7-f469-o4">
<input name="_wpcf7_container_post" type="hidden" value="0">
</div>
<p><label> First Name (required)<br>
    <span class="wpcf7-form-control-wrap first-name"><input name="first-name" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-invalid="false" aria-required="true" type="text" size="40" value=""></span> </label></p>
<p><label> Last Name (required)<br>
    <span class="wpcf7-form-control-wrap last-name"><input name="last-name" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-invalid="false" aria-required="true" type="text" size="40" value=""></span> </label></p>
<p><label> First Name 2<br>
    <span class="wpcf7-form-control-wrap first-name-2"><input name="first-name-2" class="wpcf7-form-control wpcf7-text" aria-invalid="false" type="text" size="40" value=""></span> </label></p>
<p><label> Last Name 2<br>
    <span class="wpcf7-form-control-wrap last-name-2"><input name="last-name-2" class="wpcf7-form-control wpcf7-text" aria-invalid="false" type="text" size="40" value=""></span> </label></p>
<p><label> Phone (required)<br>
    <span class="wpcf7-form-control-wrap phone"><input name="phone" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-invalid="false" aria-required="true" type="text" size="40" value=""></span> </label></p>
<p><span class="wpcf7-form-control-wrap website-wrap" id="hp5c00794784730" style="display:none !important; visibility:hidden !important;"><label class="hp-message">Please leave this field empty.</label><input name="website" tabindex="0" class="wpcf7-form-control wpcf7-text" type="text" size="40" value="" autocomplete="nope"></span></p>
<p><label> Your Email (required)<br>
    <span class="wpcf7-form-control-wrap your-email"><input name="your-email" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-invalid="false" aria-required="true" type="email" size="40" value=""></span> </label></p>
<p><label> Date of Event<br>
   <span class="wpcf7-form-control-wrap date-475"><input name="date-475" class="wpcf7-form-control wpcf7-date wpcf7-validates-as-date" aria-invalid="false" type="date" value=""></span> </label></p>
<p><label> Number of Guests<br>
<span class="wpcf7-form-control-wrap number-92"><input name="number-92" class="wpcf7-form-control wpcf7-number wpcf7-validates-as-number" aria-invalid="false" type="number" value=""></span> </label></p>
<p><label> Wedding Location<br>
<span class="wpcf7-form-control-wrap wedding-location"><input name="wedding-location" class="wpcf7-form-control wpcf7-text" aria-invalid="false" type="text" size="40" value=""></span> </label></p>
<p>Would you like a delivery quote?<br>
<span class="wpcf7-form-control-wrap delivery-quote"><span class="wpcf7-form-control wpcf7-checkbox wpcf7-exclusive-checkbox"><span class="wpcf7-list-item first"><input name="delivery-quote" type="checkbox" value="Yes"><span class="wpcf7-list-item-label">Yes</span></span><span class="wpcf7-list-item last"><input name="delivery-quote" type="checkbox" value="No"><span class="wpcf7-list-item-label">No</span></span></span></span></p>
<p><label> Your Message<br>
    <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" rows="10" cols="40"></textarea></span> </label></p>
<div class="wpcf7-form-control-wrap"><div class="wpcf7-form-control g-recaptcha wpcf7-recaptcha" data-sitekey="6LcaL1kUAAAAAK5Gr1DAC7aUiiOZELvBRHXhpfCq"><div style="width: 304px; height: 78px;"><div><iframe name="a-qj8pygswi8s" width="304" height="78" role="presentation" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LcaL1kUAAAAAK5Gr1DAC7aUiiOZELvBRHXhpfCq&amp;co=aHR0cDovL2xhcmtjYWtlc2hvcC5jb206ODA.&amp;hl=en&amp;v=v1542004393985&amp;size=normal&amp;cb=u5me31eyn36p" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-popups-to-escape-sandbox"></iframe></div><textarea name="g-recaptcha-response" class="g-recaptcha-response" id="g-recaptcha-response-1" style="margin: 10px 25px; padding: 0px; border: 1px solid rgb(193, 193, 193); border-image: none; width: 250px; height: 40px; display: none;"></textarea></div></div>
<noscript>
	&lt;div style="width: 302px; height: 422px;"&gt;
		&lt;div style="width: 302px; height: 422px; position: relative;"&gt;
			&lt;div style="width: 302px; height: 422px; position: absolute;"&gt;
				&lt;iframe src="https://www.google.com/recaptcha/api/fallback?k=6LcaL1kUAAAAAK5Gr1DAC7aUiiOZELvBRHXhpfCq" frameborder="0" scrolling="no" style="width: 302px; height:422px; border-style: none;"&gt;
				&lt;/iframe&gt;
			&lt;/div&gt;
			&lt;div style="width: 300px; height: 60px; border-style: none; bottom: 12px; left: 25px; margin: 0px; padding: 0px; right: 25px; background: #f9f9f9; border: 1px solid #c1c1c1; border-radius: 3px;"&gt;
				&lt;textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;"&gt;
				&lt;/textarea&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
</noscript>
</div>
<p><input class="wpcf7-form-control wpcf7-submit" type="submit" value="Send"><span class="fa fa-refresh fa-spin wpex-wpcf7-loader"></span></p>
<input class="wpcf7-pum" type="hidden" value='{"closepopup":true,"closedelay":0,"openpopup":false,"openpopup_id":0}'><div class="wpcf7-response-output wpcf7-display-none"></div></form></div></div>[/vc_column]<div class="vcex-spacing" style="height:30px"></div>[/vc_column]</div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p></p>

		</div>
	</div>
</div><p></p>
		</div>


				

				            <button class="pum-close popmake-close" aria-label="Close" type="button">
			×            </button>
		
	</div>

</div>
<script type="text/javascript">
var recaptchaWidgets = [];
var recaptchaCallback = function() {
	var forms = document.getElementsByTagName( 'form' );
	var pattern = /(^|\s)g-recaptcha(\s|$)/;

	for ( var i = 0; i < forms.length; i++ ) {
		var divs = forms[ i ].getElementsByTagName( 'div' );

		for ( var j = 0; j < divs.length; j++ ) {
			var sitekey = divs[ j ].getAttribute( 'data-sitekey' );

			if ( divs[ j ].className && divs[ j ].className.match( pattern ) && sitekey ) {
				var params = {
					'sitekey': sitekey,
					'type': divs[ j ].getAttribute( 'data-type' ),
					'size': divs[ j ].getAttribute( 'data-size' ),
					'theme': divs[ j ].getAttribute( 'data-theme' ),
					'badge': divs[ j ].getAttribute( 'data-badge' ),
					'tabindex': divs[ j ].getAttribute( 'data-tabindex' )
				};

				var callback = divs[ j ].getAttribute( 'data-callback' );

				if ( callback && 'function' == typeof window[ callback ] ) {
					params[ 'callback' ] = window[ callback ];
				}

				var expired_callback = divs[ j ].getAttribute( 'data-expired-callback' );

				if ( expired_callback && 'function' == typeof window[ expired_callback ] ) {
					params[ 'expired-callback' ] = window[ expired_callback ];
				}

				var widget_id = grecaptcha.render( divs[ j ], params );
				recaptchaWidgets.push( widget_id );
				break;
			}
		}
	}
};

document.addEventListener( 'wpcf7submit', function( event ) {
	switch ( event.detail.status ) {
		case 'spam':
		case 'mail_sent':
		case 'mail_failed':
			for ( var i = 0; i < recaptchaWidgets.length; i++ ) {
				grecaptcha.reset( recaptchaWidgets[ i ] );
			}
	}
}, false );
</script>

<div class="clr wpex-hidden" id="mobile-menu-search">
	<form class="mobile-menu-searchform" action="http://larkcakeshop.com/" method="get">
		<input name="s" type="search" placeholder="Search" autocomplete="off">
						<button class="searchform-submit" type="submit"><span class="fa fa-search"></span></button>
	</form>
</div>
<a id="site-scroll-top" href="#outer-wrap"><span class="fa fa-chevron-up" aria-hidden="true"></span><span class="screen-reader-text">Back To Top</span></a><div id="sidr-close"><div class="wpex-close"><a tabindex="-1" role="button" aria-hidden="true" href="#">×</a></div></div><!-- Lightbox Plus Colorbox v2.7.2/1.5.9 - 2013.01.24 - Message: 1-->
<script type="text/javascript">
jQuery(document).ready(function($){
  $("a[rel*=lightbox]").colorbox({initialWidth:"30%",initialHeight:"30%",maxWidth:"90%",maxHeight:"90%",opacity:0.8});
  $(".lbp_secondary").colorbox({speed:300,innerWidth:"50%",innerHeight:"50%",initialWidth:"30%",initialHeight:"40%",maxWidth:"90%",maxHeight:"90%",opacity:0.8,iframe:true});
  $(".lbp-inline-link-1").colorbox({transition:"elastic", speed:"300", width:"80%", height:"80%", innerWidth:false, innerHeight:false, maxWidth:"80%", maxHeight:"80%", top:false, right:false, bottom:false, left:false, fixed:false, open:false, opacity:"0.8", inline:true, href:"#lbp-inline-href-1"});
  $(".lbp-inline-link-2").colorbox({transition:"elastic", speed:"300", width:"80%", height:"80%", innerWidth:false, innerHeight:false, maxWidth:"80%", maxHeight:"80%", top:false, right:false, bottom:false, left:false, fixed:false, open:false, opacity:"0.8", inline:true, href:"#lbp-inline-href-2"});
  $(".lbp-inline-link-3").colorbox({transition:"elastic", speed:"300", width:"80%", height:"80%", innerWidth:false, innerHeight:false, maxWidth:"80%", maxHeight:"80%", top:false, right:false, bottom:false, left:false, fixed:false, open:false, opacity:"0.8", inline:true, href:"#lbp-inline-href-3"});
  $(".lbp-inline-link-4").colorbox({transition:"elastic", speed:"300", width:"80%", height:"80%", innerWidth:false, innerHeight:false, maxWidth:"80%", maxHeight:"80%", top:false, right:false, bottom:false, left:false, fixed:false, open:false, opacity:"0.8", inline:true, href:"#lbp-inline-href-4"});
  $(".lbp-inline-link-5").colorbox({transition:"elastic", speed:"300", width:"80%", height:"80%", innerWidth:false, innerHeight:false, maxWidth:"80%", maxHeight:"80%", top:false, right:false, bottom:false, left:false, fixed:false, open:false, opacity:"0.8", inline:true, href:"#lbp-inline-href-5"});
});
</script>
<script type="text/javascript">
/* <![CDATA[ */
var wpexLocalize = {"isRTL":"","mainLayout":"full-width","menuSearchStyle":"header_replace","siteHeaderStyle":"one","megaMenuJS":"1","superfishDelay":"600","superfishSpeed":"fast","superfishSpeedOut":"fast","menuWidgetAccordion":"1","hasMobileMenu":"1","mobileMenuBreakpoint":"960","mobileMenuStyle":"sidr","mobileMenuToggleStyle":"icon_buttons","scrollToHash":"1","scrollToHashTimeout":"500","localScrollUpdateHash":"","localScrollHighlight":"1","localScrollSpeed":"1000","localScrollEasing":"easeInOutExpo","scrollTopSpeed":"1000","scrollTopOffset":"100","carouselSpeed":"150","lightboxType":"iLightbox","customSelects":".woocommerce-ordering .orderby, #dropdown_product_cat, .widget_categories form, .widget_archive select, .single-product .variations_form .variations select, .widget .dropdown_product_cat, .vcex-form-shortcode select","overlaysMobileSupport":"1","responsiveDataBreakpoints":{"tl":"1024px","tp":"959px","pl":"767px","pp":"479px"},"ajaxurl":"http:\/\/larkcakeshop.com\/wp-admin\/admin-ajax.php","loadMore":{"text":"Load More","loadingText":"Loading...","failedText":"Failed to load posts."},"hasStickyHeader":"1","stickyHeaderStyle":"standard","hasStickyMobileHeader":"","overlayHeaderStickyTop":"0","stickyHeaderBreakPoint":"960","sidrSource":"#sidr-close, #site-navigation, #mobile-menu-search","sidrDisplace":"","sidrSide":"right","sidrBodyNoScroll":"","sidrSpeed":"300","altercf7Prealoader":"1","iLightbox":{"auto":false,"skin":"minimal","path":"horizontal","infinite":false,"maxScale":1,"minScale":0,"width":1400,"height":"","videoWidth":1280,"videoHeight":720,"controls":{"arrows":true,"thumbnail":true,"fullscreen":true,"mousewheel":false,"slideshow":true},"slideshow":{"pauseTime":3000,"startPaused":true},"effects":{"reposition":true,"repositionSpeed":200,"switchSpeed":300,"loadedFadeSpeed":50,"fadeSpeed":500},"show":{"title":true,"speed":200},"hide":{"speed":200},"overlay":{"blur":true,"opacity":"0.9"},"social":{"start":true,"show":"mouseenter","hide":"mouseleave","buttons":false},"text":{"close":"Press Esc to close","enterFullscreen":"Enter Fullscreen (Shift+Enter)","exitFullscreen":"Exit Fullscreen (Shift+Enter)","slideShow":"Slideshow","next":"Next","previous":"Previous"},"thumbnails":{"maxWidth":120,"maxHeight":80}}};
/* ]]> */
</script>
<script src="http://larkcakeshop.com/wp-content/themes/Total/assets/js/wpex.min.js?ver=4.6.1" type="text/javascript"></script>
<script type="text/javascript">
/* <![CDATA[ */
var wpexRetina = {"mode":"2"};
/* ]]> */
</script>
<script src="http://larkcakeshop.com/wp-content/themes/Total/assets/js/dynamic/retina.js?ver=0.0.2" type="text/javascript"></script>
<script type="text/javascript">
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"http:\/\/larkcakeshop.com\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};
var wpcf7 = {"apiSettings":{"root":"http:\/\/larkcakeshop.com\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};
var wpcf7 = {"apiSettings":{"root":"http:\/\/larkcakeshop.com\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};
var wpcf7 = {"apiSettings":{"root":"http:\/\/larkcakeshop.com\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};
var wpcf7 = {"apiSettings":{"root":"http:\/\/larkcakeshop.com\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};
var wpcf7 = {"apiSettings":{"root":"http:\/\/larkcakeshop.com\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};
/* ]]> */
</script>
<script src="http://larkcakeshop.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.0.3" type="text/javascript"></script>
<script src="https://www.google.com/recaptcha/api.js?onload=recaptchaCallback&amp;render=explicit&amp;ver=2.0" type="text/javascript"></script>
<script src="http://larkcakeshop.com/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4" type="text/javascript"></script>
<script src="http://larkcakeshop.com/wp-includes/js/jquery/ui/position.min.js?ver=1.11.4" type="text/javascript"></script>
<script type="text/javascript">
/* <![CDATA[ */
var pum_vars = {"version":"1.7.29","ajaxurl":"http:\/\/larkcakeshop.com\/wp-admin\/admin-ajax.php","restapi":"http:\/\/larkcakeshop.com\/wp-json\/pum\/v1","rest_nonce":null,"default_theme":"544","debug_mode":"","disable_tracking":"","home_url":"\/","message_position":"top","core_sub_forms_enabled":"1","popups":[]};
var ajaxurl = "http:\/\/larkcakeshop.com\/wp-admin\/admin-ajax.php";
var pum_debug_vars = {"debug_mode_enabled":"Popup Maker: Debug Mode Enabled","debug_started_at":"Debug started at:","debug_more_info":"For more information on how to use this information visit https:\/\/docs.wppopupmaker.com\/?utm_medium=js-debug-info&utm_campaign=ContextualHelp&utm_source=browser-console&utm_content=more-info","global_info":"Global Information","localized_vars":"Localized variables","popups_initializing":"Popups Initializing","popups_initialized":"Popups Initialized","single_popup_label":"Popup: #","theme_id":"Theme ID: ","label_method_call":"Method Call:","label_method_args":"Method Arguments:","label_popup_settings":"Settings","label_triggers":"Triggers","label_cookies":"Cookies","label_delay":"Delay:","label_conditions":"Conditions","label_cookie":"Cookie:","label_settings":"Settings:","label_selector":"Selector:","label_mobile_disabled":"Mobile Disabled:","label_tablet_disabled":"Tablet Disabled:","label_event":"Event: %s","triggers":{"click_open":"Click Open","auto_open":"Time Delay \/ Auto Open"},"cookies":{"on_popup_close":"On Popup Close","on_popup_open":"On Popup Open","pum_sub_form_success":"Subscription Form: Successful","pum_sub_form_already_subscribed":"Subscription Form: Already Subscribed","manual":"Manual JavaScript","cf7_form_success":"Contact Form 7 Success"}};
var pum_sub_vars = {"ajaxurl":"http:\/\/larkcakeshop.com\/wp-admin\/admin-ajax.php","message_position":"top"};
var pum_popups = {"pum-557":{"disable_form_reopen":false,"disable_on_mobile":false,"disable_on_tablet":false,"custom_height_auto":false,"scrollable_content":false,"position_from_trigger":false,"position_fixed":false,"overlay_disabled":false,"stackable":false,"disable_reposition":false,"close_on_overlay_click":false,"close_on_esc_press":false,"close_on_f4_press":false,"triggers":[{"type":"click_open","settings":{"cookie_name":"","extra_selectors":""}}],"theme_id":"545","size":"small","responsive_min_width":"0%","responsive_max_width":"50%","custom_width":"640px","custom_height":"380px","animation_type":"fade","animation_speed":"350","animation_origin":"center top","location":"center top","position_top":"100","position_bottom":"0","position_left":"0","position_right":"0","zindex":"1999999999","close_button_delay":"0","cookies":[],"id":557,"slug":"consultation-form"},"pum-550":{"disable_form_reopen":false,"disable_on_mobile":false,"disable_on_tablet":false,"custom_height_auto":false,"scrollable_content":false,"position_from_trigger":false,"position_fixed":false,"overlay_disabled":false,"stackable":false,"disable_reposition":false,"close_on_overlay_click":false,"close_on_esc_press":true,"close_on_f4_press":false,"triggers":[{"type":"click_open","settings":{"cookie_name":"","extra_selectors":""}}],"theme_id":"545","size":"normal","responsive_min_width":"0%","responsive_max_width":"100%","custom_width":"640px","custom_height":"380px","animation_type":"fade","animation_speed":"350","animation_origin":"center top","location":"center top","position_top":"100","position_bottom":"0","position_left":"0","position_right":"0","zindex":"1999999999","close_button_delay":"0","cookies":[],"id":550,"slug":"wedding-consultation-form"}};
/* ]]> */
</script>
<script src="//larkcakeshop.com/wp-content/uploads/pum/pum-site-scripts.js?defer&amp;generated=1532023958&amp;ver=1.7.29" type="text/javascript"></script>
<script src="http://larkcakeshop.com/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js?ver=5.4.7" type="text/javascript"></script>
<script src="http://larkcakeshop.com/wp-content/plugins/lightbox-plus/js/jquery.colorbox.1.5.9-min.js?ver=1.5.9" type="text/javascript"></script>
<script src="http://larkcakeshop.com/wp-includes/js/wp-embed.min.js?ver=4.9.8" type="text/javascript"></script>


<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0051'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src="https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js"></script><div id="cboxOverlay" style="display: none;"></div><div tabindex="-1" id="colorbox" role="dialog" style="display: none;"><div id="cboxWrapper"><div><div id="cboxTopLeft" style="float: left;"></div><div id="cboxTopCenter" style="float: left;"></div><div id="cboxTopRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxMiddleLeft" style="float: left;"></div><div id="cboxContent" style="float: left;"><div id="cboxTitle" style="float: left;"></div><div id="cboxCurrent" style="float: left;"></div><button id="cboxPrevious" type="button"></button><button id="cboxNext" type="button"></button><button id="cboxSlideshow"></button><div id="cboxLoadingOverlay" style="float: left;"></div><div id="cboxLoadingGraphic" style="float: left;"></div></div><div id="cboxMiddleRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxBottomLeft" style="float: left;"></div><div id="cboxBottomCenter" style="float: left;"></div><div id="cboxBottomRight" style="float: left;"></div></div></div><div style="width: 9999px; display: none; visibility: hidden; position: absolute; max-width: none;"></div></div><div class="wpex-sidr-overlay wpex-hidden"></div><div class="sidr right" id="sidr-main" style="transition:right 0.3s;"><div class="sidr-inner"><div class="sidr-class-wpex-close"><a tabindex="-1" role="button" aria-hidden="true" href="#">×</a></div></div><div class="sidr-inner">

			
				<ul class="sidr-class-dropdown-menu sidr-class-sf-menu sidr-class-sf-js-enabled" id="sidr-id-menu-main"><li class="sidr-class-menu-item sidr-class-menu-item-type-post_type sidr-class-menu-item-object-page sidr-class-menu-item-home sidr-class-menu-item-131" id="sidr-id-menu-item-131"><a href="http://larkcakeshop.com/"><span class="sidr-class-link-inner">HOME</span></a></li>
<li class="sidr-class-menu-item sidr-class-menu-item-type-post_type sidr-class-menu-item-object-page sidr-class-current-menu-item sidr-class-page_item sidr-class-page-item-174 sidr-class-current_page_item sidr-class-current-menu-ancestor sidr-class-current-menu-parent sidr-class-current_page_parent sidr-class-current_page_ancestor sidr-class-menu-item-has-children sidr-class-dropdown sidr-class-menu-item-576" id="sidr-id-menu-item-576"><a class="sidr-class-sf-with-ul" href="http://larkcakeshop.com/cakes/"><span class="sidr-class-link-inner">MENU</span><span class="sidr-class-dropdown-toggle"></span></a>
<ul class="sidr-class-sub-menu"><li class="sidr-class-menu-item sidr-class-menu-item-type-post_type sidr-class-menu-item-object-page sidr-class-current-menu-item sidr-class-page_item sidr-class-page-item-174 sidr-class-current_page_item sidr-class-current-menu-ancestor sidr-class-current-menu-parent sidr-class-current_page_parent sidr-class-current_page_ancestor sidr-class-menu-item-576" id="sidr-id-menu-item-576"><a href="http://larkcakeshop.com/cakes/"><span class="sidr-class-link-inner">MENU</span></a>

</li>
	<li class="sidr-class-menu-item sidr-class-menu-item-type-post_type sidr-class-menu-item-object-page sidr-class-current-menu-item sidr-class-page_item sidr-class-page-item-174 sidr-class-current_page_item sidr-class-menu-item-537" id="sidr-id-menu-item-537"><a href="http://larkcakeshop.com/cakes/"><span class="sidr-class-link-inner">Cakes</span></a></li>
	<li class="sidr-class-menu-item sidr-class-menu-item-type-post_type sidr-class-menu-item-object-page sidr-class-menu-item-536" id="sidr-id-menu-item-536"><a href="http://larkcakeshop.com/cupcakes/"><span class="sidr-class-link-inner">Cupcakes</span></a></li>
	<li class="sidr-class-menu-item sidr-class-menu-item-type-post_type sidr-class-menu-item-object-page sidr-class-menu-item-538" id="sidr-id-menu-item-538"><a href="http://larkcakeshop.com/iceboxcakes/"><span class="sidr-class-link-inner">Icebox Cakes</span></a></li>
	<li class="sidr-class-menu-item sidr-class-menu-item-type-post_type sidr-class-menu-item-object-page sidr-class-menu-item-535" id="sidr-id-menu-item-535"><a href="http://larkcakeshop.com/specialties/"><span class="sidr-class-link-inner">Specialties</span></a></li>
	<li class="sidr-class-menu-item sidr-class-menu-item-type-custom sidr-class-menu-item-object-custom sidr-class-menu-item-577" id="sidr-id-menu-item-577"><a href="http://larkcakeshop.com/wp-content/uploads/2018/05/LarkMenuWeb.pdf"><span class="sidr-class-link-inner">Download Menu</span></a></li>
</ul>
</li>
<li class="sidr-class-menu-item sidr-class-menu-item-type-post_type sidr-class-menu-item-object-page sidr-class-menu-item-534" id="sidr-id-menu-item-534"><a href="http://larkcakeshop.com/custom/"><span class="sidr-class-link-inner">CUSTOM</span></a></li>
<li class="sidr-class-menu-item sidr-class-menu-item-type-post_type sidr-class-menu-item-object-page sidr-class-menu-item-459" id="sidr-id-menu-item-459"><a href="http://larkcakeshop.com/weddings/"><span class="sidr-class-link-inner">WEDDINGS</span></a></li>
<li class="sidr-class-menu-item sidr-class-menu-item-type-post_type sidr-class-menu-item-object-page sidr-class-menu-item-122" id="sidr-id-menu-item-122"><a href="http://larkcakeshop.com/about/"><span class="sidr-class-link-inner">ABOUT</span></a></li>
<li class="sidr-class-menu-item sidr-class-menu-item-type-post_type sidr-class-menu-item-object-page sidr-class-menu-item-120" id="sidr-id-menu-item-120"><a href="http://larkcakeshop.com/contact/"><span class="sidr-class-link-inner">CONTACT</span></a></li>
<li class="sidr-class-no-icon-margin sidr-class-menu-item sidr-class-menu-item-type-custom sidr-class-menu-item-object-custom sidr-class-menu-item-124" id="sidr-id-menu-item-124"><a href="https://www.facebook.com/larkcakeshop"><span class="sidr-class-link-inner"><span class="fa fa-facebook"></span></span></a></li>
<li class="sidr-class-menu-item sidr-class-menu-item-type-custom sidr-class-menu-item-object-custom sidr-class-menu-item-125" id="sidr-id-menu-item-125"><a href="http://instagram.com/larkcakeshop"><span class="sidr-class-link-inner"><span class="fa fa-instagram"></span></span></a></li>
<li class="sidr-class-search-toggle-li sidr-class-wpex-menu-extra"><a class="sidr-class-site-search-toggle sidr-class-search-header-replace-toggle" href="#"><span class="sidr-class-link-inner"><span class="sidr-class-wpex-menu-search-text">Search</span><span class="sidr-class-wpex-menu-search-icon fa fa-search" aria-hidden="true"></span></span></a></li></ul>
			
		</div><div class="sidr-inner">
	<form class="sidr-class-mobile-menu-searchform" action="http://larkcakeshop.com/" method="get">
		<input name="s" type="search" placeholder="Search" autocomplete="off">
						<button class="sidr-class-searchform-submit" type="submit"><span class="fa fa-search"></span></button>
	</form>
</div></div><div style="border: 1px solid rgb(204, 204, 204); transition:visibility 0s linear 0.3s, opacity 0.3s linear; border-image: none; left: 0px; top: -10000px; visibility: hidden; position: absolute; z-index: 2000000000; opacity: 0; box-shadow: 2px 2px 3px rgba(0,0,0,0.2); background-color: rgb(255, 255, 255);"><div style="left: 0px; top: 0px; width: 100%; height: 100%; filter: none; position: fixed; z-index: 2000000000; opacity: 0.05; background-color: rgb(255, 255, 255);"></div><div class="g-recaptcha-bubble-arrow" style="border: 11px solid transparent; border-image: none; width: 0px; height: 0px; margin-top: -11px; position: absolute; z-index: 2000000000; pointer-events: none;"></div><div class="g-recaptcha-bubble-arrow" style="border: 10px solid transparent; border-image: none; width: 0px; height: 0px; margin-top: -10px; position: absolute; z-index: 2000000000; pointer-events: none;"></div><div style="position: relative; z-index: 2000000000;"><iframe name="c-f8k32puhmj6q" title="recaptcha challenge" src="https://www.google.com/recaptcha/api2/bframe?hl=en&amp;v=v1542004393985&amp;k=6LcaL1kUAAAAAK5Gr1DAC7aUiiOZELvBRHXhpfCq&amp;cb=1zihoyqsd9gv" frameborder="0" scrolling="no" style="width: 100%; height: 100%;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-popups-to-escape-sandbox"></iframe></div></div><div style="border: 1px solid rgb(204, 204, 204); transition:visibility 0s linear 0.3s, opacity 0.3s linear; border-image: none; left: 0px; top: -10000px; visibility: hidden; position: absolute; z-index: 2000000000; opacity: 0; box-shadow: 2px 2px 3px rgba(0,0,0,0.2); background-color: rgb(255, 255, 255);"><div style="left: 0px; top: 0px; width: 100%; height: 100%; filter: none; position: fixed; z-index: 2000000000; opacity: 0.05; background-color: rgb(255, 255, 255);"></div><div class="g-recaptcha-bubble-arrow" style="border: 11px solid transparent; border-image: none; width: 0px; height: 0px; margin-top: -11px; position: absolute; z-index: 2000000000; pointer-events: none;"></div><div class="g-recaptcha-bubble-arrow" style="border: 10px solid transparent; border-image: none; width: 0px; height: 0px; margin-top: -10px; position: absolute; z-index: 2000000000; pointer-events: none;"></div><div style="position: relative; z-index: 2000000000;"><iframe name="c-qj8pygswi8s" title="recaptcha challenge" src="https://www.google.com/recaptcha/api2/bframe?hl=en&amp;v=v1542004393985&amp;k=6LcaL1kUAAAAAK5Gr1DAC7aUiiOZELvBRHXhpfCq&amp;cb=3ah0p6xf2h04" frameborder="0" scrolling="no" style="width: 100%; height: 100%;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-popups-to-escape-sandbox"></iframe></div></div></body></html>
