<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="gallery">
  <center>
  <a href="#">
    <img src="https://pbs.twimg.com/media/DuF5PPFU0AAPJ_E.jpg" alt="centered image" width="1050" height="200">
  </a>
</center>
</div>
  <div class="container">
    <h1 class="display-3">Welcome to Cake and Bake!</h1>
    <p>Never forget their birthday again! We have your back. Sign up and we will get baking!</p>
    <p><a class="btn btn-primary btn-lg" href="/aboutUs" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Upgrade now!</h2>
      <p>Why upgrade? Learn more about why its beneficial to sign up for an account and how
      Cakes Galore! can keep you covered when it comes to your loved ones' birthdays!</p>
      <p><a class="btn btn-secondary" href="/upgrade" role="button">Click Here! &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>View our cakes</h2>
      <p>We offer a variety of cakes for many different occasions. Our most popular are our birthday
      cakes. They are guaranteed to bring smiles to your loved ones as they enjoy the delicious flavors we have to
      offer.</p>
      <p><a class="btn btn-secondary" href="/gallery" role="button">Check them out! &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Who are we?</h2>
      <p>Learn more about our story and how Cake and Bake came to be. 
        Fun facts included.
      </p>
      <p><a class="btn btn-secondary" href="/aboutUs" role="button">Learn more! &raquo;</a></p>
    </div>
  </div>

  <hr>

</div> <!-- /container -->