<nav class="navbar navbar-expand-md navbar-light" fixed-top style="background-color: #48c9b0;">
  <font face = "Monotype Corsiva" size = "10"><span class="logo_custom_style">Pastel Cartel</span></font><br />
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

      <% if current_user %>        
        <%if !current_user.pro && !current_user.administrator %>
          <li class="nav-item">
          <a class="nav-link" href="/upgrade">Upgrade</a>
          </li>
           <li class="nav-item">
          <a class="nav-link" href="/gallery">Cakes Gallery</a>
                      </li>
        <% end %>
        <%if current_user.pro %>
          <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
          </li>

          <li class="nav-item">
          <a class="nav-link" href="/saveBirthdate">Save Birthdates</a>
          </li>
        <% end %>
        <%if current_user.administrator %>
          <li class="nav-item">
          <a class="nav-link" href="/dashboard">Delete Users</a>
          </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link" href="/gallery">Cakes Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutUs">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>        
      <% else %>
      <li class="nav-item">
          <a class="nav-link" href="/gallery">Cakes Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sign_up">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutUs">About Us</a>
        </li>        
      <% end %>


    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


