<form action="/birthdate/create" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">

      <br/><h1>Create New Birthdate</h1><br/>

      <label for="firstName">First Name</label>
      <input type="text" class="form-control" name = "firstName" placeholder="Enter first name"><br/>

      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" name = "lastName" placeholder="Enter last name"><br/>

       <label for="relationship">Relationship</label>
      <input type="text" class="form-control" name = "relationship" placeholder="Enter relationship"><br/>

       <label for="birthdate">Birthdate</label>
      <input type="text" class="form-control" name = "birthdate" placeholder="mm/dd/yyyy"><br/>

      <button type="submit" class="btn btn-primary">Submit</button>
    </div>  
</form>
