<form action="/birthdate/create" method="POST">
	<div class = "container">
		<br/><h1>Create New birthdate</h1>
		
		<br/><label for="firstName"><b>Enter first name</b></label>
		<input type="text" name="firstName" placeholder = "Enter first name"><br/>

		<label for = "lastName"><b>Enter last name</b></label>
		<input type = "text" name = "lastName" placeholder = "Enter last name"><br/>

		<label for = "birthdate"><b>Enter birthdate</b></label>
		<input type = "text" name = "birthdate" placeholder = "mm/dd/yyyy"><br/>

		<label for = "relationship"><b>Enter relationship</b></label>
		<input type = "text" name = "relationship" placeholder = "relationship"><br/>

		<%#<label for = "pro"><b>Pro</b></label>
		<input type = "checkbox" name = "pro"><br/>%>

		<input type= "submit" name = "Submit">
		
	</div>
</form>
